name: HACS Action
on:
  push:
  pull_request:
    branches:
      - main
      - master

jobs:
  hacs_validation:
    name: HACS Validation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3

      - name: HACS Action
        uses: hacs/action@main
        with:
          category: "integration"
          ignore: brands
